{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Clasrom | Kirish</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/login.css' %}">
</head>
<body class="auth-page">

  <div class="auth-card">

    <div class="auth-logo">
      <span class="shield">🛡</span>Clas<span>rom</span>
    </div>

    <h1 class="auth-title">Tizimga kirish</h1>

    <form class="auth-form" method="post">
    {% csrf_token %}
      <div class="auth-field">
        <input type="text" name="username" placeholder="Username">
      </div>

      <div class="auth-field">
        <input type="password" name="password" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-add auth-submit">Kirish</button>

    </form>
  </div>

</body>
</html>