{% load static %}

<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasrom - Admin Panel</title>
    <link rel="stylesheet" href="{% static 'ceo/teacher/teacher.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <div class="admin-container">
        <aside class="sidebar">
            <div class="logo">
                <h2><span>Clas</span>rom</h2>
            </div>
            <nav class="menu">
                <a href="#" class="menu-item active">O'qituvchi</a>
                <a href="#" class="menu-item">O'quvchi</a>
                <a href="#" class="menu-item">Fan</a>
                <a href="#" class="menu-item">Guruh</a>
                <a href="#" class="menu-item">Davomat</a>
                <a href="#" class="menu-item">To'lov</a>
                <a href="#" class="menu-item">Oylik</a>
            </nav>
        </aside>

        <main class="content">
            <div class="content-header">
                <a href="{% url 'accounts:add_user' %}">Qo'shish</a>
            </div>

          <div class="cards-grid">

    {% for teacher in teachers %}
    <div class="card">
        <a href="{% url 'accounts:teacher_detail' teacher.pk %}" class="card-info-link">
            <div class="card-info">
                <h3>{{ teacher.first_name }} {{ teacher.last_name }}</h3>
                <p><strong>Username:</strong> {{ teacher.username }}</p>
                <p><strong>Tel:</strong> {{ teacher.phone }}</p>
            </div>
        </a>
        <div class="card-actions">
            <a href="{% url 'accounts:update_teacher' teacher.pk %}" class="btn-action btn-edit" title="Tahrirlash">
                <i class="fa-solid fa-pen"></i>
            </a>
           <form method="post" action="{% url 'accounts:delete_teacher' teacher.pk %}" style="display:inline;" onsubmit="return confirm('Rostdan ham o\'chirmoqchimisiz?');">
    {% csrf_token %}
    <button type="submit" class="btn-action btn-delete" title="O'chirish">
        <i class="fa-solid fa-trash"></i>
    </button>
</form>
        </div>
    </div>
    {% empty %}
    <p>Hozircha o'qituvchilar qo'shilmagan.</p>
    {% endfor %}

</div>

        </main>
    </div>

</body>
</html>